.animal-spotlight {
    max-width: 400px;
    display: flex;
    justify-content: center;
    border: 3px dashed gray;
    margin-left: 100px;
    padding: 50px;
  }
  
  .animal-spotlight img {
    width: 200px;
    margin-right: 20px;
  }
  
  .animal-spotlight p {
    color: black;
  }